@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-light-yellow: rgb(255, 253, 248);
}

/*ScrollBar CSS*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2e2e2e;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #181818;
  }

.home-container{
    @apply w-full;
    background-color: var(--bg-light-yellow);
}
.section-container{
    @apply flex flex-col items-center;
}

.logo{
    @apply inline-block w-auto py-1 md:p-0 md:w-56 text-2xl rounded-full md:text-4xl hover:text-white hover:scale-110 transition-all;
    font-family: Kanit;
    font-weight: 800;
    cursor: pointer;
    transition: .2s;
}

.title{
    @apply text-center text-5xl mb-4 md:text-6xl;
    font-family: Kanit;
    font-weight: 600;
    opacity: .9;
}
.subtitle{
    @apply text-center text-xl md:text-2xl;
    font-family: Kanit;
    font-weight: 300;
    opacity: .8;
}
.title-container{
    @apply flex flex-col items-center;
}

.header{
    @apply hidden md:flex items-center justify-between fixed w-full bg-red-400
    px-5 2xl:px-16;
    height: 100px;
    /* background-color: var(--bg-light-yellow); */
    opacity: .9;
    z-index: 999;
}
.text-header-mobile{
    @apply text-lg py-3 w-full text-center border-b-2 border-red-300 border-opacity-40;
    font-family: Kanit;
    font-weight: 500;
}
.nav{
    @apply flex flex-row items-center justify-center
}
.nav li{
    @apply ml-10 text-xl text-black hover:text-white hover:scale-125 transition-all;
    font-family: Kanit;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
}

.activeSection{
    @apply text-white;
    transition: .1s;
}

.profilePicture-container{
    @apply w-72 h-72 rounded-full overflow-hidden mt-16 mb-20
    border-red-400 border-4 shadow-2xl shadow-red-300
    bg-red-400
    ;
}

.about-text-container{
    @apply flex flex-col items-center bg-red-400 pt-16 px-5 pb-72 md:pt-32;
}

.greeting-text{
    @apply text-4xl text-white text-center my-8;
    font-family: Kanit;
    font-weight: 600;
}

.description-container{
    @apply w-full md:w-4/5 xl:w-3/6
}

.bio-text{
    @apply text-xl text-white;
    font-family: Kanit;
    font-weight: 200;
}

.close-list{
    transition: .3s;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.active-list{
    opacity: 1;
    height: auto;
    transition: .2s;
}

.technologies-container{
    @apply w-full flex flex-row justify-center;
}

.tech-description-container{
    @apply w-full md:w-4/5
}

.box-technologies{
    @apply w-4/5 rounded-lg pt-12 md:w-3/5 border-2 border-red-400;
    margin-top: -165px;
    background-color: var(--bg-light-yellow);
}

.tech-text-container{
    @apply flex flex-col items-center pt-14 pb-20 px-5;
}

.icon-container{
    @apply w-full flex flex-row justify-around items-center flex-wrap;
}

.technology{
    @apply flex flex-col items-center p-5;
    font-family: Kanit;
    font-weight: 600;
}

.icon{
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}

.tech-text{
    @apply text-xl text-black;
    font-family: Kanit;
    font-weight: 200;
}

.img-not-loaded{
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.img-loaded{
    opacity: 1;
}

.arrowdown {
    animation: mover 1s ease-in-out infinite;
}

@keyframes mover {
    0%, 100% {
        transform: translateY(0); /* Posición inicial y final (sin movimiento) */
    }
    50% {
        transform: translateY(-3px); /* Mueve hacia arriba */
    }
}